h1 {
  color: blue;
  font-family: "Courier New", Courier, monospace;
}

h3 {
  color: blue;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: blue;
  font-family: "Courier New", Courier, monospace;
}

a:hover {
  background-color: lightblue;
}

a {
  margin: left 20px;
  margin-right: 20px;
}

.first {
  margin-top: 100px;
}

.second {
  margin-top: 100px;
}

.third {
  margin-top: 100px;
}
